body {
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
font-family: 'Signika', sans-serif;


}

.flexible-container {
    display: flex;
    width: 50%;
}


h1 {
    font-size: 50px;
    margin:0;
    
    
}

.font-color {
    color: orange;
    font-size: 70px;
    
}

.border {
    border-left: 7px solid;
    border-image: linear-gradient(red,rgb(248, 153, 10));
    border-image-slice: 9;
    margin-left: 40px;
    padding-left: 20px;
    margin-top: 100px;
    
   
}

section {
    display: flex;
}

.font {
    
    text-align: justify;
    text-align-last: left;
    margin-left: 50px;
    margin-top: 50px;
}

.half-width {
    width: 50%;
   padding-left: 5%;
  
}

.half-width img {
    width: 80%;
}   
 .third-width {
     width:50%;
     padding-left: 3%;
     
 }   
    
.third-width img {
    width: 70%;
    padding-left: 3%;
    
    background-position: 50px;

}
.link-style {
    text-decoration: none;
    color: black;
    background-image: linear-gradient(rgb(253, 103, 98), #ff483b);
    padding: 10px 25px;
    border-radius: 5px;
    
}

.second-color {
    color: orange;
    
}
h3 {
    text-align:center;
    font-size: 50px;

}

p{
    text-align: justify;
    text-align-last: center;
}

.quarter {
    width: 33%;
    text-align: center;
    
}

.quarter-width {
    width: 100%;
    padding-left: 30px;
    text-align: center;
    
}

.half-widths {
    width: 100%;
    padding-left: 5%;
    display: flex;
    
    
}
.half-widths img {
    width: 100%;
    margin-right:10px;
    background-image: url(images/shapes/shape-1.png);
}

section {
    margin-bottom: 200px;
}

h1 ,h2 {
    font-size: 40px;
    margin: 0;
    
    
}

.quarter-width {
    background-image: url(images/shapes/shape-5.png);
    background-repeat: no-repeat;
    width: 100%;
    padding-left: 3%;
    background-size: 500px 500px;
    background-position: 45px 50px;
    
}


footer {
    text-align: center;
    background-color: black;
    height: 200px;
    width: 100%;
    color: white;
    padding: 20px 15px;
}

.top-banner {
    
    background-repeat: no-repeat;
    width :20%;
}

.banner {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 400px 400px;
}